/* Reset CSS */
* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background-color: #fad7df;
  background-image: url('src/images/amorsito.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* Estilo de la carta */
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
}

.cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #fe3334;
  border-bottom: 100px solid transparent;
  transition: transform .75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1.5rem;
  line-height: 1rem;
  right: 5px;
  z-index: -1;
  background: white;
  width: 390px;
  height: 180px;
  transition: all .75s;
}

.letter {
  border-left: 200px solid #ff989e;
  border-right: 200px solid #ff989e;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #ff858a;
}

.options button {
  color: #ff3234;
  font-weight: 600;
  border-radius: 3px;
  background: #fad7df;
  padding: 0.5rem 1rem;
  border: 1px solid #fe3334;
  cursor: pointer;
}

.options button:hover {
  background: #ff989e;
  color: white;
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% { top: 0; }
  100% { top: -120px; }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% { top: -120px; }
  100% { top: 0; }
}

.heart {
  display: none;
  position: absolute;
  top: 25%;
  left: 46.5%;
  margin: auto;
  font-size: 3rem;
  color: #fe3334;
  animation: crecer 1s forwards;
}

@keyframes crecer {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* Animación arcoíris para el texto */
.rainbow-text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  animation: rainbow 3s infinite linear;
  position: absolute;
  top: 10%; /* Coloca el texto arriba de la carta */
  width: 100%;
  color: transparent;
  background-image: linear-gradient(to left, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text; /* Hace que el color del texto sea el gradiente */
  background-clip: text;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
